.wrapper-root {
    padding-top: 40px;
    padding-bottom: 20px;
}

.container {
    margin: 0 auto;
    max-width: 335px;
}

/* HEADER */

.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-row > a {
    opacity: .6;
    transition: ease .3s;

}

.flex-row > a:hover {
    opacity: 1;
}

/* SECTION */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 153px;
    margin-bottom: 29px;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 42px;
}

.info-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.info-item > p {
    font-size: 17px;
    font-weight: 400;
}

.info-item > svg {
    width: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 23px;
}

/* menu-menu */
.menu-item {
    position: relative;
    opacity: .5;
    transition: ease .3s;
    transform: scale(1);
}

.active {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}

.menu-card {
    fill: #495795;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}

.menu-position {
    padding: 23px 30px 13px;
}

.menu-title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 18px;
}

.menu-price-total {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 15px;
    margin-bottom: 7px;
}

.menu-price-total > strong {
    font-size: 24px;
    line-height: 15px;
}

.menu-stripe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 22px;
    background-color: #495795;
    text-align: center;
    margin-bottom: 11px;
}

.menu-days {
    font-size: 15px;
    line-height: 18px;
}

.menu-price-month {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #DB0000;
    position: absolute;
    top: -1%;
    right: -1%;
}

.circle p {
    font-size: 12px;
}

/* btn */
.btn {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 19px 105px;
    border-radius: 30px;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(270deg, #1987FF 0%, #1987FF 100%);
}

/* FOOTER */
footer {
    font-size: 11px;
    line-height: 13px;
    font-family: "Rubik", Roboto, sans-serif;
    font-weight: 400;
}

.footer-text {
    font-size: 11px;
    margin-bottom: 16px;
    opacity: .5;
}

.copyright {
    width: 100%;
}

.copyright > a {
    text-decoration: underline;
    transition: ease .3s;
    
}


@media only screen and (min-width: 431px) {
    .title {
        font-size: 40px;
    }

    .info-item > p {
        font-size: 20px;
    }

    .btn {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .footer-text {
        margin-bottom: 24px;
    }
}
