body {
  background-image: image-set("../images/background-full/4.png" 1x, "../images/background-full/4@2x.png" 2x, "../images/background-full/4@3x.png" 3x);
  background-image: -webkit-image-set(url("../images/background-full/4.png") 1x, url("../images/background-full/4@2x.png") 2x, url("../images/background-full/4@3x.png") 3x);
  background-position: center center;
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: "SF Pro Display", SF Pro Display, sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  background-color: #212634;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
}

input,
button {
  font-family: "SF Pro Display", SF Pro Display, sans-serif;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}

a {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1420px;
  margin: 0 auto;
}